<%= form_with model: project do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :tagline, style: "display: block" %>
    <%= form.text_area :tagline %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.rich_text_area :description %>
  </div>

  <div>
    <%= form.label :vcs, style: "display: block" %>
    <%= form.text_field :vcs %>
  </div>

  <div>
    <%= form.label :link, style: "display: block" %>
    <%= form.text_field :link %>
  </div>

  <div>
    <%= form.label :technologies, style: "display: block" %>
    <%= form.text_area :technologies %>
  </div>

  <div>
    <%= form.label :color_scheme, style: "display: block" %>
    <%= form.select :color_scheme, choices: ::Colors::ColorScheme.constants %>
  </div>

  <div>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
