<!-- ID <%= project.id %> -->
<div class="<%= project.colors[:background] %> overflow-hidden">
  <div class="relative max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
    <div class="hidden lg:block bg-gray-50 absolute top-0 bottom-0 left-3/4 w-screen opacity-25"></div>
    <div class="mx-auto text-base max-w-prose lg:grid lg:grid-cols-2 lg:gap-8 lg:max-w-none">
      <div>
        <h2 class="text-base <%= project.colors[:accent] %> font-semibold tracking-wide uppercase"><%= project.tagline %></h2>
        <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight <%= project.colors[:text] %> sm:text-4xl"><%= project.name %></h3>
      </div>
    </div>
    <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-8">
      <div class="relative lg:row-start-1 lg:col-start-2">
        <svg class="hidden lg:block absolute top-0 right-0 -mt-20 -mr-20" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
          <defs>
            <pattern id="de316486-4a29-4312-bdfc-fbce2132a2c1" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"/>
            </pattern>
          </defs>
          <rect width="404" height="384" fill="url(#de316486-4a29-4312-bdfc-fbce2132a2c1)"/>
        </svg>
        <div class="relative text-base mx-auto max-w-prose lg:max-w-none">
          <figure>
            <div class="aspect-w-12 aspect-h-7 lg:aspect-none">
              <img class="rounded-lg shadow-lg object-cover object-center" src="/uploads/<%= project.image %>" alt="<%= project.name %>" width="1184" height="1376">
            </div>
          </figure>
        </div>
      </div>
      <div class="mt-8 lg:mt-0">
        <div class="text-base max-w-prose mx-auto lg:max-w-none">
          <div class="text-lg <%= project.colors[:text] %>">
            <%= project.description %>
          </div>
        </div>
        <div class="mt-3 mx-auto text-sm">
          <a href="<%= project.link %>" class="font-medium <%= project.colors[:accent] %> <%= project.colors[:accent_hover] %>">Visit
            <span aria-hidden="true">&rarr;</span></a>
        </div>
        <div class="mt-5 prose prose-indigo <%= project.colors[:text] %> mx-auto lg:max-w-none lg:row-start-1 lg:col-start-1">
          <p>
            <%= project.technologies %>
          </p>
        </div>

        <% unless project.vcs.empty? %>
          <div class="mt-3 mx-auto text-sm">
            <a href="<%= project.vcs %>" class="font-medium  <%= project.colors[:accent] %> <%= project.colors[:accent_hover] %>">View
              Code
              <span aria-hidden="true">&rarr;</span></a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
