<div class="w-full">
  <%= render 'misc/hero' %>
</div>

<div class="w-full">
  <%= render 'header' %>
</div>

<div id="projects" class="space-y-8 w-full">
  <% @projects.each do |project| %>
    <div>
      <%= render project %>
    </div>
  <% end %>
</div>

<div class="w-full">
  <%= render 'misc/footer' %>
</div>