<p style="color: green"><%= notice %></p>

<div class="w-full flex-col">
  <div class="w-full">
    <%= render @project %>
  </div>
  <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
    <div class="bg-white overflow-hidden">
      <div class="relative max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
        <div>
          <%= link_to "Edit this project", edit_project_path(@project) %> |
          <%= link_to "Back to projects", projects_path %>

          <%= button_to "Destroy this project", @project, method: :delete %>
        </div>
      </div>
    </div>
  </div>
</div>