<main class="lg:relative">
  <div class="mx-auto max-w-7xl w-full pt-16 pb-20 text-center lg:py-48 lg:text-left">
    <div class="px-4 lg:w-1/2 sm:px-8 xl:pr-16">
      <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl lg:text-5xl xl:text-6xl">
        <span class="block xl:inline">Welcome to</span>
        <span class="block text-amber-600 xl:inline">felixauer.com</span>
      </h1>
      <p class="mt-3 max-w-md mx-auto text-lg text-gray-500 sm:text-xl md:mt-5 md:max-w-3xl">My name is Felix Auer (as
        you've probably guessed already) and I'm a developer from Vienna, Austria.
      </p>
      <p class="mt-3 max-w-md mx-auto text-lg text-gray-500 sm:text-xl md:mt-5 md:max-w-3xl">
        You can find my CV and contact me on <a class="text-amber-600 hover:text-amber-800" href="https://www.linkedin.com/in/felix-auer-bb934115a/">LinkedIn</a>.
      </p>
      <div class="mt-10 sm:flex sm:justify-center lg:justify-start">
        <div class="flex justify-center space-x-6 md:order-2">
          <%= render 'misc/socials' %>
        </div>
      </div>
    </div>
  </div>
  <div class="relative w-full h-64 sm:h-72 md:h-96 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 lg:h-full">
    <img class="absolute inset-0 w-full h-full object-cover" src="/imgs/felix.jpg" alt="">
  </div>
</main>